fastapi
uvicorn
sqlmodel
pydantic
httpx
python-dotenv
asyncpg
sqlalchemy
supabase
python-dotenv
python-jose[cryptography]
psycopg2-binary
alembic
email-validator
passlib[bcrypt]
requests
python-multipart==0.0.9
